#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  color: white;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444;
  text-align: center;
  font-size: 18px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}